beautifulsoup4==4.12.3
inflection==0.5.1
natsort==8.4.0
numpy==2.1.1
omrdatasettools==1.4.0
Pillow==10.4.0
pycocotools==2.0.8
PyYAML==6.0.2
Requests==2.32.3
selenium==4.25.0
svgelements==1.9.6
tqdm==4.66.5
ultralytics==8.3.4
